@using ISR.Resources

<div class="col-md-12 footerBox">
    <div class="row">
        <div class="col-md-3 footerRight footerLinks">
            <div>
                @*<a href="/">لینک خارجی شماره 1</a>
                <a href="/">لینک خارجی شماره 2</a>
                <a href="/">لینک خارجی شماره 3</a>*@
            </div>
        </div>
        <div class="col-md-6 footerCenter">
            <span>@Resources.CopyRight</span>
        </div>
        <div class="col-md-3 footeLeft footerLinks">
            <div>
                @*<a href="/">لینک خارجی شماره 1</a>
                <a href="/">لینک خارجی شماره 2</a>
                <a href="/">لینک خارجی شماره 3</a>*@
            </div>
        </div>
    </div>
</div>
