@using ISR.Resources
@{
    ViewBag.Title = Resources.PasswordRecovery;
    Layout = "~/Views/Shared/_Layout.cshtml";
    //if (Session["Culture"] != null)
    //{
    //    System.Threading.Thread.CurrentThread.CurrentCulture = new System.Globalization.CultureInfo(Session["Culture"].ToString());
    //    System.Threading.Thread.CurrentThread.CurrentUICulture = new System.Globalization.CultureInfo(Session["Culture"].ToString());
    //}
}


<div id="contentHeight" class="col-md-12 contentBox">
    <div class="row fullHeight justify-content-center align-items-center">
        <div class="col-md-4 passwordRecoveryBox p-4">
            <div class="passwordRecoveryMessage alert"></div>
            <input id="txtPassordRecoveryEmail" type="text" class="form-control mb-2" placeholder="Email Address" />
            <a id="btnPasswordRecovery" href="/" class="form-control btn btn-info" data-lang="@Session["lang"].ToString()">@Resources.PasswordRecovery</a>
        </div>
    </div>
</div>